{% if include.lookup %}
  {% assign post = site.posts 
    | where_exp: "post", "post.slug == include.lookup"
    | first
    | default: include
  %}
{% else %}
  {% assign post = include %}
{% endif %}

<div class="post-excerpt-container">
  <div class="post-excerpt">
    {% assign url = post.url %}
    {% assign title = post.title %}

    <div class="post-excerpt-text">
      {% include post-info.html published=post.date %}      <a href="{{ url | relative_url }}">{{ title }}</a>
     
    </div>
  </div>
</div>
